body {
    font-family: 'Arial', sans-serif;
    background-color: #eac1e1;
    color: black;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 600px) {
    /* Styles for screens smaller than 600px */
    header, footer {
        font-size: 14px;
    }
}

h2 {
    text-align: center;
    color: #333;
}

.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

button[type="reset"] {
    background-color: #c71b12;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.1s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="reset"]:hover {
    background-color: #c0392b;
}

button,
input[type="submit"] {
    width: calc(50% - 5px);
    box-sizing: border-box;
}

p {
  text-align: center;
}



